html {
    height: 100%;
    width: 100%;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #002622;
    color: #f1f1e8;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #002622;
    position: relative;
    /* Para posicionar o menu dropdown */
  }
  
  .logo img {
    height: 8vw;
    min-height: 50px;
    max-height: 100px;
    transition: height 0.3s ease;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
    font-size: 18px;
  }
  
  nav li {
    padding: 10px 20px;
    /* Espaçamento ao redor dos textos */
    text-decoration: none;
  }
  
  nav a {
    text-decoration: none;
    font-weight: bold;
    color: wheat;
  }
  
  .menu-toggle {
    display: none;
    /* Escondido por padrão */
    font-size: 24px;
    background: none;
    border: none;
    color: wheat;
    cursor: pointer;
  }
  
  .capa img {
    width: 100%;
    height: auto;
  }
  
  .container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
    background-color: #002622;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: wheat;
    font-size: 26px;
  }
  
  p {
    font-size: 22px;
    line-height: 1.6;
    color: wheat;
    text-align: justify;
  }
  
  .images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 32px;
  }
  
  .images img {
    width: 48%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .footer {
    background-color: #333;
    color: wheat;
    text-align: center;
    padding: 10px 0;
    font-size: 0.8em;
    height: 18px;
  }
  
  .footer-link {
    color: wheat;
    text-decoration: none;
    margin-left: 15px;
  }
  
  .footer-link:hover {
    text-decoration: underline;
  }
  
  /* Media Queries */
  
  /* Ajustes para telas menores */
  @media (max-width: 768px) {
  
    .menu-toggle {
      display: block;
      /* Mostrar o botão em telas menores */
    }
  
    header {
      padding: 10px;
      align-items: center;
    }
  
    .logo img {
      height: 60px;
    }
  
    nav ul {
      display: none;
      /* Esconder o menu padrão em telas menores */
      flex-direction: column;
      background-color: #002622;
      /* Cor de fundo para o menu dropdown */
      position: absolute;
      /* Para que ele sobreponha o conteúdo */
      top: 100%;
      /* Coloca logo abaixo do cabeçalho */
      right: 0;
      width: 100%;
      /* Ocupa toda a largura da tela */
    }
  
    nav ul.active {
      display: flex;
      height: 100vh;
      /* Mostrar o menu em forma de dropdown */
    }
  
    nav li {
      text-align: center;
      padding: 15px 0;
    }
  
    .container {
      padding: 10px;
    }
  
    .images img {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  
  /* Ajustes para telas ainda menores */
  @media (max-width: 480px) {
    .logo img {
      height: 60px;
    }
  
    nav ul {
      width: 100%;
      /* O menu dropdown ocupa toda a largura */
    }
  
    nav li {
      padding: 10px 0;
    }
  }